<html>

<head>
    <meta charset="utf-8">
    <script src='../public/js/TronWeb.js' type='text/javascript'></script>
    <script src='../public/js/demo.js' type='text/javascript'></script>
    <script>
        // function strToHex(str) {
        //     if (str === "")
        //         return "";
        //     var hexCharCode = [];
        //     hexCharCode.push("0x");
        //     for (var i = 0; i < str.length; i++) {
        //         hexCharCode.push((str.charCodeAt(i)).toString(16));
        //     }
        //     return hexCharCode.join("");
        // }

        var tronWeb = window.tronWeb;
        //var hexStr = strToHex("dsfdsffdsf");
        //tronWeb.trx.signMessage(hexStr);
        //const contract = tronWeb.contract(合约abi, 合约哈希)
    </script>
</head>

<body>
    safdsfsd
</body>

</html>